@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");

.keep-down {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding-top: 20px;
    margin-bottom: 0 !important;
}

.para-justify {
    text-align: justify;
    text-justify: inter-word;
}

.icon-spacing {
    display: inline-block;
    padding-left: 20px;
}

.copyright {
    padding-top: 20px;
    display: block;
    text-align: center;
}

.footer-list {
    background-color: transparent !important;
    border: none !important;
}

a {
    text-decoration: none !important;
    color: #000 !important;
}